# venv locali
.venv/
venv/

# dataset e pesi: ignora tutto tranne il .gitkeep
data/*
!data/.gitkeep
datasets/*
!datasets/.gitkeep
checkpoints/*
!checkpoints/.gitkeep

# pesi/archivi ovunque
*.pth
*.pt
*.ckpt
*.bin
*.tar
*.zip

# cache python
__pycache__/
*.pyc
